{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Portfolio - Wide</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/dark-button.css' %}">
    <link rel="stylesheet" href="{% static 'css/scroll-top.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <!-- End -->

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <style>
        background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    </style>
    {% endcompress %}
</head>

<body>

    <!--NavBar-->
    {% block navbar %}
        {% include 'blog/navbar.html' %}
    {% endblock %}
    <!--end navbar -->


    <div id="page-container">
        <div id="content-wrap">
            <!-- Grid Images -->
            <div class="grid-portfolio" id="portfolio">

                <!-- Start filterform -->
                <div class="content" id="filterform">
                    <div class="d-flex justify-content-center align-items-center container" id="filter">
                        <div class="row mx-auto text-center">
                            <form method="get" class="form-inline justify-content-center" style="font-family: 'Helvetica', sans-serif; font-weight: 200;">

                                 <!--Title field -->
                                <div class="form-group" style="padding-right: 10px;">
                                    <label for="title" class="col-4 col-form-label" style="color: white;">Title:</label>
                                    <input type="text" name="title" id="title" class="form-control m-2" style="width: 110px; height:25px">
                                </div>


                                 {% if user.is_authenticated %}
                                 <!-- ID field for admin only -->
                                <div class="form-group" style="padding-right: 10px;">
                                 <label for="id" class="col-4 col-form-label" style="color: white;">ID:</label>
                                 <input type="number" name="id" id="id" class="form-control m-2" style="width: 70px; height:25px">
                                </div>

                                 <!-- Album field -->
                                <div class="form-group" style="padding-right: 10px;">
                                    <label class="col-4 col-form-label" style="color: white;">Album:</label>
                                    {{ filter.form.album }}
                                </div>

                                <!-- User field -->
                                <div class="form-group" style="padding-right: 10px;">
                                    <label class="col-4 col-form-label" style="color: white;">Photographer:</label>
                                    {{ filter.form.user }}
                                </div>

                                 {% else %}

                                 <!-- Album field -->
                                <div class="form-group" style="padding-right: 10px;">
                                     <label class="col-4 col-form-label" style="color: white;">Album:</label>
                                     {{ filter.form.album }}
                                </div>

                                <!-- User field -->
                                <div class="form-group" style="padding-right: 10px;">
                                     <label class="col-4 col-form-label" style="color: white;">Photographer:</label>
                                    {{ filter.form.user }}
                                </div>

                                 {% endif %}

                                <button class="btn btn-white" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End filterform -->

                <!-- Show search button -->
                <div class="d-flex justify-content-center align-items-center container" id="search">
                    <div class="row mx-auto text-center">
                        <a href="javascript:;" class="button-show" data-sm-link-text="Images">
                            <button class="btn btn-white" type="submit">Search</button>
                        </a>
                    </div>
                </div>
                <!-- end search button -->

                <!--Start Image List -->
                <div class="image-div">
                    <div class="flex-container">
                        <div class="row" style="padding-left:60px; padding-right:60px;">
                            {% for image in images %}
                            <div class="card-deck">
                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <a href="{{ image.image.url }}" data-lightbox="image-1" data-title="{{ image.title }} - <a href={{ image.image.url }}>Full resolution</a>"><div class="hover-effect">
                                            <div class="hover-content">
                                                <h1><em>{{ image.title }}</em></h1>
                                                <p>{{ image.body }}</p>
                                            </div>
                                        </div></a>
                                        <div class="image">
                                            {% if user.is_authenticated %}
                                                <a href="{% url 'image_view' image.id %}">
                                                    <img src="{{ image.image.url }}">
                                                </a>
                                            {% else %}
                                                <img src="{{ image.image.url }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--end image list -->

                <!--show more button -->
                <div class="row mx-auto text-center">
                    <div class="col-md-12">
                        <p class="text-center">
                            <a role="presentation" type="button" class="btn btn-white loadMore" id="showmore">Show More</a>
                        </p>
                    </div>
                </div>
                <!--end showmore -->
            </div>

        </div>
    </div>

    <!--Scroll up function-->
    <a class="scrollTo" data-scrollTo="filterform">
        <button class="scrollToTopBtn"></button>
    </a>
    <!--end scroll up -->

    {% block footer %}
        {% include 'blog/footer.html' %}
    {% endblock %}

    <!--Start Overlay -->
    {% block overlay-menu %}
        {% include 'blog/overlay.html' %}
    {% endblock %}
    <!-- End Overlay -->

    {% compress js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/pagination.js' %}"></script>
    <script src="{% static 'js/portfolio.js' %}"></script>
    <script src="{% static 'js/grid-scrolltop.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Pagination - script control the images ( show 6 images per page ) -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    {% endcompress %}
</body>
</html>