{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="https://www.instagram.com/fotoaarnes/"><i class="icon ion-email"></i></a><a href="mailto:marni1@live.no"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'view_all' %}">Portfolio</a></li>
                <li class="list-inline-item"><a href="{% url 'about_us' %}">About Us</a></li>
                <li class="list-inline-item"><a href="{% url 'contact' %}">Contact Us</a></li>
                {% if user.is_authenticated %}
                <li class="list-inline-item"><a href="{% url 'post' %}">Upload</a></li>
                <li class="list-inline-item"><a href="{% url 'post' %}">Pricing(WIP)</a></li>
                {% else %}
                <li class="list-inline-item"><a href="{% url 'post' %}">Pricing(WIP)</a></li>
                {% endif %}
            </ul>
            <p class="copyright">Maren Photo © 2021</p> <p class="copyright">Website Made By <a href="https://github.com/gjdandin" style="text-decoration: none;">Gilhan Dandin</a></p> <p class="copyright"><a href="#" style="text-decoration: none;">Privacy & Cookie Policy(WIP)</a></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>